@charset "utf-8";
/* CSS Document */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font:inherit;font-size:100%;vertical-align:baseline;}
html{line-height:1}
ol,
ul{list-style:none}
table{border-collapse:collapse;border-spacing:0}
caption,
th,
td{font-weight:normal;vertical-align:middle}
q,
blockquote{quotes:none}
q:before,
q:after,
blockquote:before,
blockquote:after{content:"";content:none}
a img{border:none;vertical-align: middle;}
img{vertical-align:top;border:0;}
article,aside,details,figcaption,figure,footer,header,menu,nav,section,summary{display:block}
html{-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;font-family:Verdana,"Microsoft YaHei","微软雅黑",Arial,Helvetica,sans-serif;}
body.body-fixed-bottom{padding-bottom:40px}
body{-webkit-backface-visibility:hidden;font-family:Verdana,"Microsoft YaHei","宋体",Verdana,Arial,Helvetica,sans-serif;min-width:296px;-webkit-text-size-adjust:none;-webkit-font-smoothing:antialiased;}
strong{font-weight:bold}
a,a:hover {color:#333;background:transparent;text-decoration:none;outline:none;}
h1{font-size:1.2em;margin:0.67em 0}
h2{font-size:16px;}
h3{font-size:15px;line-height:18px}
button,
input[type='number'],
input[type='text'],
input[type='password'],
input[type='email'],
select,
textarea{font-family:"Microsoft YaHei","微软雅黑";font-size:100%;margin:0;-webkit-appearance:none;-moz-appearance:none;appearance:none;}
div,h1,p,ul,li,label,textarea,input,button,form{margin:0;padding:0;-webkit-tap-highlight-color:rgba(0,0,0,0)}
input,
textarea{border:0 none;outline:none;}
hr{margin:10px 0;border:none;border-top:1px solid #ddd}
html{overflow-x:hidden;}
*{margin:0;padding:0;}
div,h1,p,ul,li,label,textarea,span{word-break:break-all}
div,h1,p,ul,li,label,textarea,input,button,form{margin:0;padding:0;-webkit-tap-highlight-color:rgba(0,0,0,0)}
input,
select,
textarea{font-family:"Microsoft YaHei","微软雅黑",Verdana,Arial,Helvetica,sans-serif;}
input,
select,
button{margin:0;border:none;padding:0;outline:none;vertical-align:middle;background:transparent;}
ul{list-style:none outside none;}
.fl {
	float: left;
}
.fr {
	float: right;
}
.clearfix:after {
	display:block;
	clear:both;
	content:"";
	visibility:hidden;
	height:0
}
.clearfix {
	zoom:1
} 
/* loading动画 */
a[class*=-btn].loading, 
label[class*=-btn].loading {
    position: relative;
}
a[class*=-btn].loading::first-line, 
label[class*=-btn].loading::first-line {
    color: transparent;
}
a[class*=-btn].loading::before, 
label[class*=-btn].loading::before {
    width: 4px; height: 4px;
    margin: auto;
    content: '';
    -webkit-animation: spinZoom 1s steps(8) infinite;
    animation: spinZoom 1s steps(8) infinite;
    border-radius: 100%;
    box-shadow: 0 -10px 0 1px currentColor, 10px 0 currentColor, 0 10px currentColor, -10px 0 currentColor, -7px -7px 0 .5px currentColor, 7px -7px 0 1.5px currentColor, 7px 7px currentColor, -7px 7px currentColor;
    /* center */
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
}
/* loading动画 */
@-webkit-keyframes spinZoom {
    0% {
        -webkit-transform: scale(.75) rotate(0);
    }
    100% {
        -webkit-transform: scale(.75) rotate(360deg);
    }
}
@keyframes spinZoom {
    0% {
        transform: scale(.75) rotate(0);
    }
    100% {
        transform: scale(.75) rotate(360deg);
    }
}
